/* presetups */
body {
    font-family: 'Bradley Hand', cursive;
    color: white;
    background-image:url('https://img.freepik.com/premium-photo/theater-stage-red-curtains-3d-illustration_68747-327.jpg');
    background-repeat: no-repeat;
    background-attachment : fixed;
    background-size: cover;
    padding-bottom 50px;
}

.logo {
    width: 128px;
    height: 128px;
}

.header {
    background-color: chocolate;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* CSS for Javascript Implentation w.i.p */
@media screen and (max-width:735px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    position: relative;
  }
}
/* images and flexboxes */
.img {
    width: 50px;
    height: 50px;
}

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
    }

    .item {
        background-color: burlywood;
        padding: 10px;
        width: 400px;
        height: 200px;
        margin: 10px;
        color: rgb(255, 250, 250);
        font-size: 15px;
        text-align: center;
    }

/* Basic Naviagation */
.navigation {
    justify-self: stretch;
    align-self: stretch;
    float: right;
    font-size: 30px;
  }

  .navigation a {
    color: rgb(255, 250, 250);
    text-decoration: none;
    display: inline-block;
    padding: 15px;
  }

  .navigation a:hover {
    background-color: rgb(255, 250, 250);
    color: rgb(0, 0, 0);
  }

  .navbutton {
    display: none;
    margin-right: 10px;
  }

/* Footer Plans - includes social options and more */
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(169, 169, 169);
    color: rgb(255, 250, 250);
  }

  .copyright {
    display: inline;
    grid-column-start: 1;
  }

  .social {
    display: inline;
    grid-column-start: 3;
    justify-self: end;
  }

  .social a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 32px;
    display: inline-block;
    padding: 10px;
  }

/* gallery code */
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}


/* To keep the footer at the bottom */
#footer { 
  position: fixed; 
  padding: 10px 10px 1px 10px; 
  bottom: 0; 
  margin: auto;
  width: 100%; 
  /* Height of the footer*/  
  height: 40px; 
  background: brown;
  color: rgb(255, 250, 250);
} 


