/* presetups */
body {
    font-family: 'Bradley Hand', cursive;
    background-image:url('');
    background-repeat: no-repeat;
    background-attachment : fixed;
    background-size: cover;
    padding-bottom 50px;
}

.logo {
    width: 128px;
    height: 128px;
}

.header {
    background-color: cornsilk;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.img {
    width: 50px;
    height: 50px;
}

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        align-items: baseline;
    }

    .item {
        background-color: burlywood;
        padding: 50px;
        width: 400px;
        height: 150px;
        margin: 10px;
        color: rgb(255, 250, 250);
        font-size: 15px;
        text-align: center;
    }




